body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 40%;
  margin: 100px auto;
  min-width: 720px;
}
.join-block {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.join-block input {
  height: 35px;
  border: .5px solid gray;
  margin: 3px 0;
  
}
.join-block input::placeholder {
  color: lightgray
}

.join-block .btn {
  margin:7px 0;
  /* width: 58%;
  height: 30px; */
}